*{
  font-family: 'Fredoka One', cursive;

}
.card-holder{
  padding-left: 100px;
}
.card-div{
  display: flex;
  flex-wrap: wrap;
}
.card-item{
  background-color:rgb(255,138,51);
  height: 10rem;
  width: 11rem;
  /* padding: 20px; */
  margin:  25px ;
  
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px  rgba(128, 128, 128, 0.822);
  border: white solid thick;
  /* background-repeat: no-repeat; */
  
  background-position: center;
  
}
#navbar{
  padding-top: 13px;
  padding-bottom: 13px;
  background: rgb(234,55,41);
  color: white;
 
}
#header{
  background:rgb(200,91,188);
  color: white;
  padding-top: 115px;
  padding-bottom: 115px;
  
}