/* img{
    max-width: 100%;
    max-height: 100%;
    display: block;
} */
div .col{
  height: 9rem; 
  /* width: 5rem; */
  object-fit: fill;
  border: none;
  margin: .3rem;
  background: steelblue;

  /* display: block; */
}
